@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#353535, #121212);
   color: #e1eeeb;

  --first-color: #1070ff;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #2e2e2e;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #1070ff;
  border-radius: 10px;
}

